<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- CHASSIS-->
  <xacro:property name="x_chassis_size" value="0.5" />
  <xacro:property name="y_chassis_size" value="0.42" />
  <xacro:property name="z_chassis_size" value="0.14" />
  <xacro:property name="chassis_mass" value="6" />

  <!-- DRIVE WHEELS-->
  <xacro:property name="drive_wheel_radius" value="0.102" />
  <xacro:property name="drive_wheel_length" value="0.04" />
  <xacro:property name="drive_wheel_mass" value="3" />

  <!-- CASTER WHEELS-->
  <xacro:property name="caster_wheel_radius" value="0.065" />
  <xacro:property name="caster_wheel_length" value="0.02" />
  <xacro:property name="caster_wheel_mass" value="1" />

  <!-- SPEED -->
  <xacro:property name="max_wheel_torque" value="100" />
  <xacro:property name="max_acceleration" value="5.0" />

</robot>
